:root {
  --md-primary-fg-color:        #372773;
  --md-accent-fg-color:         #fa7376;
}

.md-sidebar__inner {
  --md-typeset-a-color: #fa7376;
}

.md-content {
  --md-typeset-a-color: #09bfdd;
}

[data-md-color-scheme="slate"] {
  --md-hue: 234; 
}

.md-grid {
    width: 100%;
    max-width: 1900px;
}